/Testdata
/exercise1_Note.aux
/exercise1_Note.log
/exercise1_Note.out
/exercise1_Note.pdf
/exercise1_Note.synctex.gz
/exercise2_Note.aux
/exercise2_Note.log
/exercise2_Note.out
/exercise2_Note.pdf
/exercise2_Note.synctex.gz
/Testdata.tar.gz
